<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="plot">{{ graph|safe }}</div>
    <div id="plot2">{{ pie|safe }}</div>
    <div>
      <table>
        <thead>
            <tr>
                <th>년월</th>
                <th>지역</th>
                <th>건수</th>
            </tr>
        </thead>
        <tbody>
            {% for data in results %}
                <tr>
                    <td>{{ data['date'] }}</td>
                    <td>{{ data['region'] }}</td>
                    <td>{{ data['total'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>