<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="form-container">
    <form action="/test2">
      <label for="year">Year</label>
      <select name="year" id="year">
        <option value="select">년도 검색</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
    
      <label for="month">Month</label>
      <select name="month" id="month">
        <option value="select">월별 검색</option>
        <option value="1">1월</option>
        <option value="2">2월</option>
        <option value="3">3월</option>
        <option value="4">4월</option>
        <option value="5">5월</option>
        <option value="6">6월</option>
        <option value="7">7월</option>
        <option value="8">8월</option>
        <option value="9">9월</option>
        <option value="10">10월</option>
        <option value="11">11월</option>
        <option value="12">12월</option>
      </select>
    
      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="select">성별 검색</option>
        <option value="male">남자</option>
        <option value="female">여자</option>
        <option value="all">모두 선택</option>
      </select>
    
      <input type="submit" value="Submit" />
    </form>
  </div>
      
</body>
</html>